<h1 class="text-2xl font-bold mb-4">Books</h1>

<!-- Filter Form -->
<form action="<%= @books %>" method="GET" class="mb-4">
  <div class="flex items-center">
    <label class="mr-2 font-medium">Search by Title:</label>
    <input type="text" name="title" value="<%= params[:title] %>" class="border rounded py-1 px-2">
    <button type="submit" class="ml-2 px-4 py-1 rounded text-white bg-indigo-500 hover:bg-indigo-600">Filter</button>
  </div>
</form>

<div class="overflow-x-auto">
  <table class="table-auto border-collapse border border-gray-400">
    <thead>
    <tr class="bg-gray-100">
      <th class="py-2 px-4 border border-gray-400">Title</th>
      <th class="py-2 px-4 border border-gray-400">Author</th>
      <th class="py-2 px-4 border border-gray-400">Year</th>
      <th class="py-2 px-4 border border-gray-400">ISBN</th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="py-2 px-4 border border-gray-400"><%= book.title %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.author %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.publication_date %></td>
        <td class="py-2 px-4 border border-gray-400"><%= book.isbn %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%#= debug @books %>
